[Unit]
Description=SEO Dashboard
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
ExecStart=/usr/local/bin/seodashboard --database /usr/local/etc/seosuite/config.yaml
Restart=always

[Install]
WantedBy=multi-user.target
